<!-- Design based on a Dribble shot by Julius Koroll. -->

<html>
<head>
    <link href="{{url_for('static', filename='css/levels.css')}}" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div class="panel" id="one" style="background: url({{url_for('static', filename='images/1.jpg')}})">
            <div class="text">
                <h3><b>LEVEL</b></h3>
                <h1>1</h1>
            </div>
            <div class="bottom"><a href="">&nbsp&nbspSTART&nbsp&nbsp</a></div>
        </div>
        <div class="panel" id="two" style="background: url({{url_for('static', filename='images/2.jpg')}})">
            <div class="text">
                <h3><b>LEVEL</b></h3>
                <h1>2</h1>
            </div>
            <div class="bottom"><a href="">&nbsp&nbspSTART&nbsp&nbsp</a></div>
        </div>
        <div class="panel" id="three" style="background: url({{url_for('static', filename='images/3.jpg')}})">
            <div class="text">
                <h3><b>LEVEL</b></h3>
                <h1>3</h1>
            </div>
            <div class="bottom"><a href="">&nbsp&nbspSTART&nbsp&nbsp</a></div>
        </div>
        <div class="panel" id="four" style="background: url({{url_for('static', filename='images/4.jpg')}})">
            <div class="text">
                <h3><b>LEVEL</b></h3>
                <h1>4</h1>
            </div>
            <div class="bottom"><a href="">&nbsp&nbspSTART&nbsp&nbsp</a></div>
        </div>
    </div>
</body>
<script type="text/javascript" src="{{url_for('static',filename='js/levels.js')}}"></script>

<!--
BAND-PALLETES
    FFC107
    FF5733
    C70039
    581845
-->

</html>
