<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/system/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/question.css')}}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="card">
                    <div class="card-header">
                        <div class="card-timer text-center vcenter">
                            0 0 : 3 0
                        </div>
                    </div>
                    <div class="card-question">
                        <p>Who is the Prime Minister of India ?</p>
                    </div>
                    <div class="card-options">
                        <div class="option" id="option_1">
                            <button type="button" class="btn btn-default btn-lg btn-block">OPTION 1</button>
                        </div>
                        <div class="option" id="option_2">
                            <button type="button" class="btn btn-default btn-lg btn-block">OPTION 2</button>
                        </div>
                        <div class="option" id="option_3">
                            <button type="button" class="btn btn-default btn-lg btn-block">OPTION 3</button>
                        </div>
                        <div class="option" id="option_4">
                            <button type="button" class="btn btn-default btn-lg btn-block">OPTION 4</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
