<html>
<head>
    <link href="{{url_for('static', filename='css/system/normalize.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/rounds.css')}}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square effect9 right_to_left">
                    <a href="#">
                        <div class="img"><img src="{{url_for('static',filename='images/atom.jpg')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>THERMODYNAMICS &nbsp 1</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square effect9 bottom_to_top">
                    <a href="#">
                        <div class="img"><img src="{{url_for('static',filename='images/atom.jpg')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>THERMODYNAMICS &nbsp 2</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square effect9 left_to_right">
                    <a href="#">
                        <div class="img"><img src="{{url_for('static',filename='images/atom.jpg')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>THERMODYNAMICS &nbsp 3</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square effect9 right_to_left">
                    <a href="#">
                        <div class="img"><img src="{{url_for('static',filename='images/electrical.jpg')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>BASIC ELECTRICAL</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square effect15 top_to_bottom">
                    <a href="#">
                        <div class="img"><img src="{{url_for('static',filename='images/general_knowledge.jpg')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>GENERAL KNOWLEDGE</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square colored effect9 left_to_right">
                    <a href="#">
                        <div class="img"><img src="{{url_for('static',filename='images/fluid.jpg')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>FLUID MECHANICS</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square effect9 right_to_left">
                    <a href="#">
                        <div class="img"><img src="{{url_for('static',filename='images/air-quality.jpg')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>INDOOR AIR QUALITY</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square colored effect15 bottom_to_top">
                    <a href="#">
                        <div class="img"><img src="{{url_for('static',filename='images/audio_visual.png')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>AUDIO VISUAL</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square effect9 left_to_right">
                    <a href="#">
                        <div class="img"><img src="{{url_for('static',filename='images/workshop.jpg')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>WORKSHOP TECHNOLOGY</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-sm-offset-4 col-md-offset-4">
                <div class="ih-item square colored effect9 top_to_bottom">
                    <a href="#">
                        <div class="img"><img src="{{url_for('static',filename='images/')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>EQUIPMENTS</h3>
                                <p>Description goes here</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
