<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/system/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/system/normalize.5.0.0.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/score.css')}}">
</head>

<body>
    <main style="text-align: center;">
        <h1 style="font-weight: 300">SCORE - CARD</h1>
        <p><i class="fa fa-diamond fa-2x" style="color:white"></i></p>
    </main>
    <ul>
        <li class="card">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Team</span><br><br>A</p>
                    <p class="card__num">100</p>
                </div>
            </div>
        </li>
        <li class="card">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Team</span><br><br>B</p>
                    <p class="card__num">110</p>
                </div>
            </div>
        </li>
        <li class="card">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Team</span><br><br>C</p>
                    <p class="card__num">120</p>
                </div>
            </div>
        </li>
        <li class="card">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Team</span><br><br>D</p>
                    <p class="card__num">130</p>
                </div>
            </div>
        </li>
        <li class="card">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Team</span><br><br>E</p>
                    <p class="card__num">140</p>
                </div>
            </div>
        </li>
        <li class="card">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Team</span><br><br>F</p>
                    <p class="card__num">150</p>
                </div>
            </div>
        </li>
    </ul>
</body>
</html>
