<html>
<head>
    <link href="{{url_for('static', filename='css/system/animsition.min.css')}}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/system/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/system/normalize.5.0.0.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/score.css')}}">
</head>

<body>
<div class="animsition" style="width:100%;">
    <main style="text-align: center;">
        <h1 style="font-weight: 300">SCORE - CARD</h1>
        <p><i class="fa fa-diamond fa-2x" style="color:white"></i></p>
    </main>
    <ul>
        <li class="card">
            <a class="animsition-link" href="{{url_for('topics', TEAM='A')}}" style="color:#ffffff;">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Team</span><br><br>A</p>
                    <p class="card__num">{{data['A']}}</p>
                </div>
            </div>
            </a>
        </li>
        <li class="card">
            <a class="animsition-link" href="{{url_for('topics', TEAM='B')}}" style="color:#ffffff;">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Team</span><br><br>B</p>
                    <p class="card__num">{{data['B']}}</p>
                </div>
            </div>
            </a>
        </li>
        <li class="card">
            <a class="animsition-link" href="{{url_for('topics', TEAM='C')}}" style="color:#ffffff;">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Team</span><br><br>C</p>
                    <p class="card__num">{{data['C']}}</p>
                </div>
            </div>
            </a>
        </li>
        <li class="card">
            <a class="animsition-link" href="{{url_for('topics', TEAM='D')}}" style="color:#ffffff;">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Team</span><br><br>D</p>
                    <p class="card__num">{{data['D']}}</p>
                </div>
            </div>
            </a>
        </li>
        <li class="card">
            <a class="animsition-link" href="{{url_for('topics', TEAM='E')}}" style="color:#ffffff;">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Team</span><br><br>E</p>
                    <p class="card__num">{{data['E']}}</p>
                </div>
            </div>
            </a>
        </li>
        <li class="card">
            <a class="animsition-link" href="{{url_for('topics', TEAM='F')}}" style="color:#ffffff;">
            <div class="card__flipper">
                <div class="card__front">
                    <p class="card__name"><span>Team</span><br><br>F</p>
                    <p class="card__num">{{data['F']}}</p>
                </div>
            </div>
            </a>
        </li>
    </ul>
</div>
</body>
<script type="text/javascript" src="{{url_for('static',filename='js/system/jquery-1.7.min.js')}}"></script>
<script src="{{url_for('static', filename='js/system/animsition.min.js')}}"></script>
<script>
    $(document).ready(function() {
      $(".animsition").animsition({
        inClass: 'zoom-in-lg',
        outClass: 'fade-out',
        inDuration: 2000,
        outDuration: 2000,
        linkElement: '.animsition-link',

        loading: true,
        loadingParentElement: 'body', //animsition wrapper element
        loadingClass: 'animsition-loading',
        onLoadEvent: true,
        browser: [ 'animation-duration', '-webkit-animation-duration'],
        // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
        // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
        overlay : false,
        overlayClass : 'animsition-overlay-slide',
        overlayParentElement : 'body',
        transition: function(url){ window.location.href = url; }
      });
    });
</script>
</html>
