<html>
<head>
    <link href="{{url_for('static', filename='css/system/animsition.min.css')}}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/system/font-awesome.min.css')}}">
    <link href="{{url_for('static', filename='css/system/normalize.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename='css/topics.css')}}" rel="stylesheet">
</head>
<body>
<div class=animsition>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-sm-offset-4 col-md-offset-4 text-center" style="padding-right:4em;">
                <div class="cover_box">
                    <span class="pull-left" style="padding-top:1em;">
                        <i class="fa fa-diamond fa-2x" style="color:white"></i>
                    </span>
                    <span class="curr_score">
                        210
                    </span>
                    <span class="pull-right" style="padding-top:1em;">
                        <i class="fa fa-diamond fa-2x" style="color:white"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square effect9 right_to_left">
                    <a class="animsition-link" href="{{url_for('levels')}}">
                        <div class="img"><img src="{{url_for('static',filename='images/atom.jpg')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>THERMODYNAMICS &nbsp 1</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square effect9 bottom_to_top">
                    <a class="animsition-link" href="{{url_for('levels')}}">
                        <div class="img"><img src="{{url_for('static',filename='images/atom.jpg')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>THERMODYNAMICS &nbsp 2</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square effect9 left_to_right">
                    <a class="animsition-link" href="{{url_for('levels')}}">
                        <div class="img"><img src="{{url_for('static',filename='images/atom.jpg')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>THERMODYNAMICS &nbsp 3</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square effect9 right_to_left">
                    <a class="animsition-link" href="{{url_for('levels')}}">
                        <div class="img"><img src="{{url_for('static',filename='images/electrical.jpg')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back" style="background:#5F5B35;">
                                <h3>BASIC ELECTRICAL</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square effect15 top_to_bottom">
                    <a class="animsition-link" href="{{url_for('levels')}}">
                        <div class="img"><img src="{{url_for('static',filename='images/general_knowledge.jpg')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>GENERAL KNOWLEDGE</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square colored effect9 left_to_right">
                    <a class="animsition-link" href="{{url_for('levels')}}">
                        <div class="img"><img src="{{url_for('static',filename='images/fluid.jpg')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>FLUID MECHANICS</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square effect9 right_to_left">
                    <a class="animsition-link" href="{{url_for('levels')}}">
                        <div class="img"><img src="{{url_for('static',filename='images/air-quality.jpg')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>INDOOR AIR QUALITY</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square effect15 bottom_to_top">
                    <a class="animsition-link" href="{{url_for('levels')}}">
                        <div class="img"><img src="{{url_for('static',filename='images/audio_visual.png')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>AUDIO VISUAL</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="ih-item square effect9 left_to_right">
                    <a class="animsition-link" href="{{url_for('levels')}}">
                        <div class="img"><img src="{{url_for('static',filename='images/workshop.jpg')}}" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>WORKSHOP TECHNOLOGY</h3>
                                <p>Description goes here</p>
                                <button style="margin-top:1%;" class="btn btn-default"><b>ENTER</b></button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-sm-offset-4 col-md-offset-4">
                <div class="ih-item square colored effect9 top_to_bottom">
                    <a class="animsition-link" href="{{url_for('levels')}}">
                        <div class="img"><img src="" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>EQUIPMENTS</h3>
                                <p>Description goes here</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" src="{{url_for('static',filename='js/system/jquery-1.7.min.js')}}"></script>
<script src="{{url_for('static', filename='js/system/animsition.min.js')}}"></script>
<script>
    $(document).ready(function() {
      $(".animsition").animsition({
        inClass: 'fade-in',
        outClass: 'zoom-out',
        inDuration: 3000,
        outDuration: 2000,
        linkElement: '.animsition-link',
        // e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
        loading: true,
        loadingParentElement: 'body', //animsition wrapper element
        loadingClass: 'animsition-loading',
        loadingInner: '', // e.g '<img src="loading.svg" />'
        timeout: false,
        timeoutCountdown: 5000,
        onLoadEvent: true,
        browser: [ 'animation-duration', '-webkit-animation-duration'],
        // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
        // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
        overlay : false,
        overlayClass : 'animsition-overlay-slide',
        overlayParentElement : 'body',
        transition: function(url){ window.location.href = url; }
      });
    });
</script>
</html>
