<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/zig_zag.css')}}" rel="stylesheet">
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="text-center">PAGE HEADING</h3>
          <p class="text-center">
            Description about page. Description about page. Description about page. Description about page. Description about page.
          </p>
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="{{url_for('static', filename='icons/cardiogram.png')}}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Topic One</h4>
                  <h4 class="subheading">Subtitle</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    The only way out is in. The only way out is in.<br>The only way out is in. The only way out is in.<br>The only way out is in. The only way out is in.<br>
                  </p>
                </div>
              </div>
              <div class="line"></div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="{{url_for('static', filename='icons/cardiogram.png')}}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Topic One</h4>
                    <h4 class="subheading">Subtitle</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      The only way out is in. The only way out is in.<br>The only way out is in. The only way out is in.<br>The only way out is in. The only way out is in.<br>
                    </p>
                  </div>
                </div>
                <div class="line"></div>
            </li>
            <li>
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="{{url_for('static', filename='icons/cardiogram.png')}}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Topic One</h4>
                    <h4 class="subheading">Subtitle</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      The only way out is in. The only way out is in.<br>The only way out is in. The only way out is in.<br>The only way out is in. The only way out is in.<br>
                    </p>
                  </div>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
</body>
</html>
